/* selector con etiquetas html */
h1 {
    color: tomato;
}

ul {
    color: blue;
}

div h3 {
    color: aqua;
}

/* selector por clases */
.texto {
    color: green;
}

/* selector por id */
#cebolla {
    color: red;
}